@media only screen and (max-width: 600px) {

    #home {
        background: url(../img/Home/bg2.jpg);
        background-size: auto;
        padding: 100px 0px !important;
        height: 100vh !important;
    }

    #experience {
        max-width: 100%;
        padding: 100px 0px !important;
        overflow-x: hidden;
    }

    #about, #projects, #education, #contact{
        padding: 100px 0px !important;
    }

    h1 {
        margin-left: 10px;
        font-size: 18px;
        line-height: 100%;
    }

    .size-50 {
        font-size: 25px;
    }

    h2 {
        margin-left: 10px;
        font-size: 18px;
        line-height: 100%;
    }

    h3 {
        font-size: 18px !important;
        line-height: 110%;
        color: black;
    }

    h5 {
        margin: auto;
        text-align: left;
    }

    .navbar-fixed-top {
        padding: 20px;
        border: none;
    }

    .logo {
        width: 200px;
        float: left;
    }

    .menu {
        margin-left: -10%;
        padding: 20px !important;
    }

    #menu {
        display: none;
    }

    #resume {
        width: 100%;
    }

    .about-img-div {
        margin: 10px;
    }

    .img-responsive {
        width: 150px !important;
        margin: -20px 0px 100px 20px !important;
    }

    .img-responsive-1 {
        margin-left: auto !important;
    }

    .img-responsive-2 {
        width: 150px !important;
        margin: -20px 0px 100px 20px !important;
    }  

    .project-img {
        width: 100% !important;
        height: auto;
        margin-top: 10%;
    }

    #gif{
        position: absolute;
        background: #fff url(../img/preloader/preaload.gif) center center no-repeat ;
        background-size: cover;
        height: 120px;
        width: 120px;
        margin: -30px 0 0 -30px;
        left: 40%;
        top: 45%;
    }

    p {
        font-size: 12px;
    }

    li {
        font-size: 12px;
    }

    .timeline-event-icon, .timeline-event-icon-2, .timeline:before {
        display: none;
    }

    .left-15 {
        left: -10px;
    }

    .icon {
        color: white;
        font-size: 20px;
    }

    .portfolio_item img{
        width: 350px;
        height: 200px;
    }

    .portfolio_item {
        margin-bottom: 30px;
        height: 200px;
    }

}

/* Responsive media queries
==================================================*/

@media (max-width: 991px) {
    .portfolio .categories-grid .categories ul li a {
        padding: 0 2px;
    }
}

@media (max-width: 768px) {
    .timeline-event-copy {
        width: 90%;
        left: 2em;
    }
}

@media (max-width: 500px) {

    #home,
    .disply-table {
        height: 600px;
    }

    .portfolio .categories-grid .categories ul li {
        list-style: none;
        margin: 10px 0;
    }
}

@media (max-width: 420px) {
    nav li {
        margin: 6px;
    }

    nav li a {
        font-size: 10px;
    }
}

@media only screen and (min-width: 620px) {
    
    .icon {
        display: none;
    }
}